<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new student account needs approval</h1>
    <p>
      A new student has created an account that needs your approval. You can approve the account by loggin in.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!!</p>
  </body>
</html>
